.whole-quiz-container {
    background-color: $secondary-color;
    color: $primary-font;
    border: solid 1px hsl(0, 0%, 100%);
    margin-top: 60px;
    margin-bottom: 64px;
}

.question-answer {
    color: $secondary-font;
    background-color: $quaternary-color;
}

.quiz-slot {
    background-color: $tertiary-color;
}

.question-header {
    margin-top: 24px;
}

#send-quiz-button {
    margin-top: 24px;
    margin-bottom: 24px;
}

.timer-row {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: $tertiary-color;
    border-bottom: solid 3px $primary-color;
}

.timer-column {
    background-color: $tertiary-color;
    color: $primary-font;
}

#results-display-div {
    text-align: center;
    margin-top: 12px;
}

#score-display-number {
    margin-bottom: 24px;
}

.answer-para {
    text-align: left;
}

#answers-list {
    margin-bottom: 36px;
}